*{
    margin: 0;
    padding: 0;
}
.footer{
    height: 200px;
    width:100%;
    background-color: rgb(216, 208, 208);
    display: flex;
    padding-top: 10px;
}
.about2{
    width:40%;
    background-color:rgb(216, 208, 208);
}
.links{
    width:20%;
    background-color:rgb(216, 208, 208);
}
.symbols{
    width:40%;
    background-color:rgb(216, 208, 208);
}

.about2 h2{
    color:teal;
    padding-left: 90px;
}

.about2 p{
    padding-left:90px ;
}    

.links h2{
    color:teal;
    padding-left:40px;
}
.links p{
    padding-left: 40px;
}
.symbols{
    display: flex;
    font-size: 50px;
    color: green;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.btn2{
    background-color:rgb(201, 194, 194); 
        border: none;
        color:white;
        padding: 18px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 8px;
        cursor: pointer;
        /* border-radius: 8px; */
        display: flex;
        align-items: center;
        justify-content: center;
}
.btn2:hover{
    background-color: teal;
  }
  .policy{
      margin-top: 20px;
      margin-left: 140px;
  }